.richtext-editor-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  font-family: inherit;
}

.cm-editor {
  height: 100%;
}

.cm-scroller {
  overflow: auto;
}
